header.custom-navbar.py-2
  .container-fluid.d-flex.align-items-center.justify-content-between
    .d-flex.align-items-center.logo-section
      = link_to root_path, class: "d-flex align-items-center text-decoration-none" do
        = image_tag "logo2.png", class: "nav-logo me-2", alt: "J Work"
      span.nav-subtext
        | 
    nav.nav-menu.d-none.d-lg-flex
      ul.d-flex.list-unstyled.mb-0
        li
          = link_to "トップページ", root_path, class: "nav-link-custom"
        li
          = link_to "ベビーシッター", baby_path, class: "nav-link-custom"
        li
          = link_to "外国人シッター", babysitter_path, class: "nav-link-custom"
        li
          = link_to "家事代行", housekeeping_path, class: "nav-link-custom"
    nav.mobile-nav.d-lg-none
      #mobile-nav-toggle.mobile-nav-toggle
        span.hamburger-line
        span.hamburger-line
        span.hamburger-line
      #mobile-nav-menu.mobile-nav-menu
        .mobile-nav-header
          #mobile-nav-close.mobile-nav-close
            span.close-line
            span.close-line
        ul.mobile-nav-list
          li
            = link_to "トップページ", root_path, class: "nav-link-custom"
          li
            = link_to "ベビーシッター", baby_path, class: "nav-link-custom"
          li
            = link_to "外国人シッター", babysitter_path, class: "nav-link-custom"
          li
            = link_to "家事代行", housekeeping_path, class: "nav-link-custom"
        .mobile-nav-actions
          button.btn.contact-btn.d-flex.align-items-center.gap-2
            a.nav-link-custom href="javascript:void(0)" data-target="inquiry" お問い合わせ
            = image_tag "arrow-down.png", class: "arrow-icon", alt: "Arrow"
    .d-flex.align-items-center.gap-3.d-none.d-lg-flex
      button.btn.contact-btn.d-flex.align-items-center.gap-2
        a.nav-link-custom href="javascript:void(0)" data-target="inquiry" お問い合わせ
        = image_tag "arrow-down.png", class: "arrow-icon", alt: "Arrow"
