doctype html
html lang="ja"
  head
    = render "layouts/head"

    / --- canonical（各ドメイン用） ---
    - canonical_url = request.url
    link rel="canonical" href=canonical_url

  body
    = render "layouts/header"

    = render "shared/breadcrumbs" if breadcrumbs.any?

    - if params[:sent] == '1'
      .flash-message.alert.alert-success role="alert"
        | 送信完了しました

      script
        |
          gtag('event', 'conversion', {
              'send_to': 'AW-10998015402/P0wGCMmaqZQcEKrLofwo',
              'value': 1.0,
              'currency': 'JPY'
          });

    - flash.each do |type, message|
      - tag_class = (type == 'notice' ? 'success' : 'danger')
      div class="flash-message alert alert-#{tag_class}" role="alert"
        = message

    = yield

    footer.ks-footer
      .ks-footer__inner
        p.ks-footer__heading サービス・コンテンツ
        ul.ks-footer__list
          li = link_to "トップ", root_path, data: { turbolinks: false }
          li = link_to "お役立ち記事", "/columns", data: { turbolinks: false }
          li = link_to "ベビーシッター", baby_path, data: { turbolinks: false }
          li = link_to "外国人シッター", babysitter_path, data: { turbolinks: false }
          li = link_to "家事代行", housekeeping_path, data: { turbolinks: false }
      p.ks-footer__copy &copy; #{Time.current.year} 株式会社J Work / kurasera.life

    = javascript_include_tag "application", "data-turbolinks-track": "reload"
